* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 @font-face {
        font-family: "leitedelimao.ttf";
        src: url(/stargeek/img/leitedelimao.ttf);
    }
@font-face {
        font-family: "Starjedi.ttf";
        src: url(/stargeek/img/starjedi.ttf);
    }
    @font-face {
        font-family: "lemonmilkregular.ttf";
        src: url(/stargeek/img/lemonmilkregular.ttf);
    }

.body-index{
    background-image: url(/STARGEEK/img/image\ 16.png);
    background-size: 100% 52%;
    background-repeat: no-repeat;
    background-color: #000000;
}

/*login*/
.body-login{
    background-image: url(/stargeek/img/fundo2.jpg);
    background-size: 100%
    
}
.loguinha{
    height: 150px;
}
.div-login{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}

.divtudo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 330px;
    margin: 0 auto;
    background-color: #d9d9d956;
    border-radius: 10px;
}

@font-face {
        font-family: "mermaid.ttf";
        src: url(/stargeek/img/mermaid.ttf);
    }


    .entrarescrito {
        margin: 10px;
        color: #E9311A;
        font-family: "mermaid.ttf";
        font-size: 25px;

}
.PC{
    color: #E9311A;
    text-align: left;
    font-family: "mermaid.ttf";
    font-size: small;
}

.caixas {
    border-radius: 10px;
    border: 0.5px solid white;
    padding: 15px;
    margin-top: 20px;
    color:#E9311A
}

.divbotao {
    margin: 20px;
    padding: 10px;
}

.logo {
    height: 150px;
}

.entrar {
    color: rgb(255, 255, 255);
    background-color: #E9311A;
    border: 2px solid #E9311A;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
}

.entrar:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
    background-color: #ECAE7D;
    border: 2px solid #ECAE7D;
}

/*cadastro*/
.body-cadastro{
    background-image: url(/stargeek/img/fundo2.jpg);
    background-size: 100%
    
}
.loguinha{
    height: 150px;
}
.div-cadastro{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
}

.divtudao {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 400px;
    height: 460px;
    margin: 0 auto;
    background-color: #d9d9d956;
    border-radius: 10px;
}

.cadascrito {
    margin: 10px;
    color: #064B72;
    font-family: "mermaid.ttf";
    font-size: 25px;
}
.JTC{
    color: #064B72;
    text-align: right;
    font-family: "mermaid.ttf";
    font-size: small;
}

.caixas {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 15px;
    margin-top: 20px;
    color:#064B72
}

.divbotao {
    margin: 20px;
    padding: 10px;
}

.logo {
    height: 150px;
}

.cadastrar {
    color: rgb(255, 255, 255);
    background-color: #026D81;
    border: 2px solid #026D81;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
    justify-content: space-between;
}

.cadastrar:hover {
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
    background-color: #8DB5AD;
    border: 2px solid #8DB5AD;
}

/*página inicial*/
.cabecalho{
    background-color: #D9D9D9;
    opacity: 50%;
}
.bodyin{
    background-image: url(/stargeek/img/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "leitedelimao.ttf";
}
.SJ{
    font-family: "Starjedi.ttf";
    font-size: 45px;
}
.logo-inic {
    height: 85px;
    margin-top: 20px;
    margin-left: 50px;
}
.logao{
    height: 500px;
    text-align: center;
}

.botao-in {
    border-radius: 5px;
    border-color: #000000;
    background-color: #8DB5AD;
    text-decoration: none;
    color:#064B72;
    padding: 8px 20px;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.div-inic {
    text-align: center;
    margin: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.caixas-inic {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}

.botao-inic {
    border-radius: 5px;
    background-color: #150096;
    text-decoration: none;
    color: white;
    padding: 9.5px 20px;
}


.div-inic2 {
    color: #064B72;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-inic02{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-inic3 {
    color: #064B72;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-inic03{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-inic4 {
    color: #064B72;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-inic04{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grupo1{
    width: 500px;
}

/* Página Principal */
.principal{
    background-image: url(/stargeek/img/fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.headerp{
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerp >nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerp > nav > img{
    height: 70px;
    padding: 5px;
}
.menu{
    display: flex;
}
.menu > li {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu > li > a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;
    font-weight: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.menu > li > a:hover{
    color:#E9311A;
}
.botoes-menu{
    margin: 5px;
}
.lupinha{
    background-color: transparent;
    border: none;
    color:#E9311A;
}
.novamidia{
    background-color: #ECAE7D;
    border: 5px solid #ECAE7D;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 50px;
    justify-content: space-between;
}
.novamidia:hover{
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.sair{
    background-color: #ECAE7D;
    border: 5px solid #ECAE7D;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 50px;
    justify-content: space-between;
}
.sair:hover{
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.local{
    text-decoration: none;
    color: black;
    justify-content: space-between;
    padding-right: 10px;
}
.roll{
    width: 150px;
    padding: 5px;
}
.rolagem{
    display: flex;
    overflow: scroll;
    
}
.rolagem::-webkit-scrollbar{
    display: none;
}
/*Página de filmes (e só filmes)*/
.filiminhos{
    background-image: url(/stargeek/img/fundo4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.novamidiafilme{
    background-color: #064B72;
    border: 5px solid #064B72;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 50px;
    justify-content: space-between;
}
.novamidiafilme:hover{
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.sairfilme{
    background-color: #064B72;
    border: 5px solid #064B72;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 50px;
    justify-content: space-between;
}
.sairfilme:hover{
    transition: 0.5s;
    box-shadow: 0 1px 5px rgb(0, 0, 0);
}
.headerf{
    background-color: rgba(255, 255, 255, 0.411);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerf >nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerf > nav > img{
    height: 70px;
    padding: 5px;
}
.sonosfilmes > img{
    height: 170px;
    padding: 5px;
}
.sonosfilmes{
        display: flex;
        overflow: scroll;
        height: 170px;
}
.sonosfilmes::-webkit-scrollbar{
        display: none;
}
.CPUHE10D{
    height: 170px;
}
.CPUHE10D:hover{ 
    content: url(/stargeek/img/como\ perder\ um\ homem\ em\ 10\ dias\ gif.gif);
}
.EED{
    height: 170px;
}
.EED:hover{
    content: url(/stargeek/img/ela\ é\ demais\ gif.gif);
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #064a72b3;
    transition: all 0.4s;
  }
   
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  .content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }
   
  .footer {
    text-align: right;
    margin-top: 50px;
  }
   .modal__content{
    text-align: center;
    margin: 250px;
    font-family: "mermaid.ttf";
    background-color: #064B72;
    border-radius: 5px;
   }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #d63f3f;
    text-decoration: none;
  }
  
  .footer-btn-close {
    width: 150px;
    padding: 10px;
    text-decoration: none;
    background-color: #cfcca8;
    color: #ffffff;
    box-shadow: 1px 1px 0px black;
    border-radius: 3px;
  }
  .HOWTOLOSEAGUY{
    color: #ECAE7D;
    text-shadow: 1px 1px 1px #E9311A;
    background-color: #064B72;
  }
  .HOWTOLOSEAGUY2{
    color: #ECAE7D;
    padding: 10px;
    font-family: "lemonmilkregular.ttf";
    font-size: small;
  }

  /*Cadastro de mídia*/
  .body-midia {
    background-image: url(/stargeek/img/fundo4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-midia{
    height: 150px;
    margin-top: -90px;
}
.div-midia {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
}
.divtudo-midia {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 500px;
    height: 490px;
    margin: 0 auto;
    background-color: #064a72bb;
    border-radius: 10px;
}
.divtudo-midia > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caixas-midia {
    border-radius: 5px;
    border: 0.5px solid white;
    padding: 10px;
    margin-top: 10px;
}
.grupo33{
    padding: 5px;
}
#story{
    margin-top: 10px;
    height: 200px;
    width: 800px;
}